.app-container {
  display: grid;
  grid-template-rows: 80px auto;
} 

.navigation-header {
  grid-row: 1;
}

.main-content {
  grid-row: 2;
  
  border-style: solid;
  border-color: green;
  color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}